@import "../Style.scss";

EntityIcon {
    width: 128px;
    height: 128px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 0px black;
    opacity: 1;
    transform: translateY(0);
    background-color: rgba(50, 50, 50, 0.5);


    .item {
        position: relative;
        height: 90%;
        width: 90%;

        img {
            width: 100%;
            height: 100%;
        }

        &.has-child-draggable {
            opacity: 0.3;
        }

        &:hover {
            cursor: pointer;
            //sound-in: 'hover';
            background-color: rgba(255, 255, 255, 0.5);
        }

        .count {
            position: absolute;
            bottom: 5px;
            right: 5px;
            color: white;
            font-size: 24px;
            font-weight: bold;
            font-family: HabboExtended;

            &.hidden {
                display: none;
            }
        }
    }
}