
@namespace GeneralGame.UI
@attribute [StyleSheet]
@inherits Panel



@if (PlayerBase.GetLocal() is null)
    return;


<root>

    <div class="spawnWindow">
   
        <div class="categories txt" @ref=_header>
        

        </div>

        <div class="content" @ref=_body =>
     

        </div>
    </div>

    <div class="toolWindow">

        <div class="toolsHeader" @ref=_toolHeader =>

        </div>

        <div class="tools" @ref=_toolBody =>

        </div>
    </div>


</root>

@code {

    Panel _header;
    Panel _body;
    Panel _toolHeader;
    Panel _toolBody;

    public static SpawnMenu Instance { get; private set; }

    public SpawnMenu() => Instance = this;


    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        if (!firstTime) return;
        
        //Spawnlist
        var tabs = _header.AddChild<ButtonGroup>();
        tabs.AddClass("tabs");


        var ents = _body.AddChild<SpawnList>();
        tabs.SelectedButton = tabs.AddButtonActive("Entities", (b) => ents.SetClass("active", b));

        var props = _body.AddChild<PropList>();
        tabs.AddButtonActive("Cloud", (b) => props.SetClass("active", b));


        //Toolgun
        var toolTabs = _toolHeader.AddChild<ButtonGroup>();
        tabs.AddClass("tabs");


        var tools = _toolBody.AddChild<ToolsList>();
        toolTabs.SelectedButton = toolTabs.AddButtonActive("Toolgun", (b) => tools.SetClass("active", b));

    }


    


    
}
