
@namespace GeneralGame.UI
@attribute [StyleSheet]
@inherits Panel

<root>
   
    <div class="categories txt">

        <div class="button" onclick=@( () => ChangeCategory(SpawnMenuCategories.Props) )>
            <text>Props</text>
        </div>

        <div class="button" onclick=@( () => ChangeCategory(SpawnMenuCategories.Entities) )>
            <text>Entities</text>
        </div>

    </div>

    <div class="content">
     
        @switch (ActiveCategory)
        {
            case SpawnMenuCategories.Entities:
                <SpawnList/>
                break;
            case SpawnMenuCategories.Props:
                <PropList/>
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }

    </div>


</root>

@code {

    private SpawnMenuCategories ActiveCategory { get; set; } = SpawnMenuCategories.Entities;

    public void ChangeCategory(SpawnMenuCategories category)
    {
        ActiveCategory = category;
        PlayerBase.GetLocal().ActiveSpawnCategory = category;
    }

    public SpawnMenu() 
    {
        ActiveCategory = PlayerBase.GetLocal().ActiveSpawnCategory;
    }

}
