@import "../Style.scss";

SpawnMenu {
    width: 100%;
    height: 100%;
    pointer-events: all;
    // border-radius: 5px;
    margin: auto;
    backdrop-filter: blur(2px);
    transition: all 5s ease-out;


    .spawnWindow {
        width: 70%;
        padding: 20px;
        flex-direction: column;

        .categories {
            width: 100%;
            flex-direction: row;

            .button {
                margin: 5px;
                border-radius: 4px;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                background-color: $fullscreen-bg;
                padding: 6px;

                &:hover {
                    background-color: $whire-bg;
                }
            }
        }

        .content {
            height: 100%;
            width: 100%;

            .page {
                display: none;
                flex-direction: row;
                flex-wrap: wrap;

                &.active {
                    display: flex;
                    opacity: 1;
                }
            }
        }
    }

    .toolWindow {
        width: 30%;
        padding: 20px;
        flex-direction: column;

        .toolsHeader {
            width: 100%;
            flex-direction: row;

            .button {
                margin: 5px;
                border-radius: 4px;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                background-color: $fullscreen-bg;
                padding: 6px;

                &:hover {
                    background-color: $whire-bg;
                }
            }
        }

        .tools {
            height: 100%;
            width: 100%;

            .page {
                display: none;
                flex-direction: row;
                flex-wrap: wrap;

                &.active {
                    display: flex;
                    opacity: 1;
                }
            }
        }


    }
}
